@charset "UTF-8";
.theme-dark,
.theme-light {
  --sdf-header-color-border-left-h1: gray;
  --sdf-header-color-border-bottom-h2: gray;
}

h1,h2,h3,h4,h5,h6,a {
  font-family: "源ノ角ゴシック";
  font-weight: 100;
}

/* =======================
見出しh2の装飾 (下線装飾)
======================= */
.HyperMD-header-2,
.markdown-preview-view h2 {
  border-bottom: solid 2px var(--sdf-header-color-border-bottom-h2);
}

/* 埋め込みノートのボーダーカラー */
.markdown-embed {
  border-left-color: darkviolet;
}

/* サイドバーとメインの背景 */
.workspace-split.mod-root .view-content,
.workspace-ribbon,
.workspace-leaf-content {
  background: linear-gradient(#1f1c1c, #0e1f3e) !important;
}

.workspace-sidedock-vault-profile {
  background: #0e1f3e !important;
}

.status-bar,
.sidebar-toggle-button,
.workspace-tab-container,
.workspace-tab-header-container {
  background-color: #1f1c1c !important;
}

.workspace-tab-header-container::after {
  background-color: #1f1c1c !important;
}